<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.springbootvue.mapper.JavadependencyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xy.springbootvue.entity.Javadependency">
        <id column="id" property="id" />
        <result column="groupid" property="groupid" />
        <result column="artifactid" property="artifactid" />
        <result column="version" property="version" />
        <result column="project_id" property="projectId" />
        <result column="sha1" property="sha1" />
        <result column="scope" property="scope" />
        <result column="option" property="option" />
    </resultMap>

</mapper>
