<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.springbootvue.mapper.SnykflawMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xy.springbootvue.entity.Snykflaw">
        <id column="id" property="id" />
        <result column="gaid" property="gaid" />
        <result column="version" property="version" />
        <result column="level" property="level" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="publish" property="publish" />
        <result column="url" property="url" />
    </resultMap>

</mapper>
